<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title class="title">...</title>
	<meta name="KayKreations" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="Style.css">

	

	<!-- Material Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="Main.js"></script>
	<script type="javascript" src="C:\Users\lebom\OneDrive\Documents\Idea2022\Main.js"></script>
	<script type="javascript" src="C:\Users\lebom\OneDrive\Documents\Idea2022\like_button.js"></script>
	<script type="text/javascript" src="like_button.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
	
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css">

	
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

	
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:wght@100&family=Roboto:ital,wght@1,100&family=Sofia&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="C:\Users\lebom\OneDrive\Documents\Idea2022\slick-1.8.1\slick\slick.css">
	<link rel="stylesheet" type="text/css" href="C:\Users\lebom\OneDrive\Documents\Idea2022\slick-1.8.1\slick\slick.min.js">


	<!--Font Awesome CDN -->
	<link rel="stylesheet" href="C:\Users\lebom\OneDrive\Documents\Idea2022\fontawesome-free-5.15.4-web\css\all.min.css">

	<!--AngularJS Framework -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

	

	

<!--Bootstrap CDN -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">



<!--Font Awesome CDN -->
</head>
<body>
	<header>
		<div class="container"> 
			<div class="row">
				<div class="col-md-4 col-sm-12 col-12">
					<div class="btn-group">
						<button class="btn border dropdown-toggle my-md-4 my-2 text-white"
						data-toggle="dropdown"
						aria-haspopup="true"
						arai-expanded="false">
					ZAR</button>
					<div class="dropdown-menu">
						<li><a href="#" class="dropdown-item text-white">USD</a><li>
					</div>
					</div>
				</div>
		<div class="col-md-4 col-12 text-center">
			<h2 class="my-d-3 site-title text-white" >Kaykreations&#169;</h2>
			<h4 class="my-d-3 site-slogan text-white" >Fashion at it's finest!</h4>
		</div>
		<div class="col-md-4 col-12 text right">
			<p class="my-md-4 header-links" align="right">
				<a href="LogIn.html" class="px-2">Sign In</a>
				<a href="NewAccount.html" class="px-1">Create New Account</a>


			</p>
		</div>
		</div>
		</div>
		<div class="container-fluid text-center">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="Homepage.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="AboutUs.html">About Us</a>
        </li>
       
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shop
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">T-Shirts</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Hoodies</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Tracksuits</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Caps</a></li>
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
      </ul>
      <form class="d-flex">
      	 
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
		</div>
		
	</header>
	
	
<!-- first slider -->

		<main>
		<div class="row">
			<div class="col-2">
				<h1 align="center">Give Your Wardrobe a New Look </h1>
				<br>
				<p align="center">"Style is a way to say who you are without having to speak." <br> — Rachel Zoe</p>
				<br>
				<a href="404page.html" class="btn2" > Explore Our Products &#8594;</a>

				
			</div>
			<div class="col-2">
				<img src="image2.jpeg" class="mainpic">

			</div>
			<div ng-app="">
  <p>Name: <input type="text" ng-model="name"></p>
  <p ng-bind="name"></p>
			</div>


			<div data-ng-app="" data-ng-init="firstName='John'">

<p>The name is <span data-ng-bind="firstName"></span></p>

</div>

<div ng-app="myApp" ng-controller="myCtrl">

<button ng-click="count = count + 1">Click me!</button>

<p>{{ count }}</p>

</div>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
  $scope.count = 5;
});
</script>

<div ng-app="myApp" ng-controller="namesCtrl">

<table border="1" width="100%">
  <tr>
    <th ng-click="orderByMe('name')">Name</th>
    <th ng-click="orderByMe('country')">Country</th>
  </tr>
  <tr ng-repeat="x in names | orderBy:myOrderBy">
    <td>{{x.name}}</td>
    <td>{{x.country}}</td>
  </tr>
</table>

</div>

<script>
angular.module('myApp', []).controller('namesCtrl', function($scope) {
  $scope.names = [
    {name:'Jani',country:'Norway'},
    {name:'Carl',country:'Sweden'},
    {name:'Margareth',country:'England'},
    {name:'Hege',country:'Norway'},
    {name:'Joe',country:'Denmark'},
    {name:'Gustav',country:'Sweden'},
    {name:'Birgit',country:'Denmark'},
    {name:'Mary',country:'England'},
    {name:'Kai',country:'Norway'}
  ];
  $scope.orderByMe = function(x) {
    $scope.myOrderBy = x;
  }
});
</script>



		</div>
		</main>

	
<!-- We will put our React component inside this div. -->
    <div id="like_button_container"></div>

    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>

    <!-- Load our React component. -->
    <script src="like_button.js"></script>





  

	<div class="title3" align="center">
		<hr>Featured Products</hr>

	</div>


<div class="container-fluid">
	<div class="site-slider-two px-md-4">
		<div class="row">
			<div class="col-md-2 product pt-md-5 pt-4">
				<div class="options">
				<a href="PayingShirts.html"><img src="image11.jpeg" class="img11"></a>
				</div>
				<a href="Tshirts.html"><span class="border site-btn btn-span">T-Shirts</span></a>
				<div>
				<span class="material-icons">star</span>
				<span class="material-icons">star</span>
				<span class="material-icons">star</span>
				<span class="material-icons">star</span>
				<span class="material-icons">star_half</span>

				</div>
				<p><b>R300</b></p>

			</div>
			<div class="col-md-2 product pt-md-5 pt-4">
				<div class="options">
				<a href="PayingHoodies.html"><img src="image12.jpeg" class="img12"></a>
				</div>
				
				
				<a href="Hoodies.html"><span class="border site-btn btn-span">Hoodies</span></a>
				<div>
				<span class="material-icons">star</span>
				<span class="material-icons">star</span>
				<span class="material-icons">star</span>
				<span class="material-icons">star</span>
				<span class="material-icons">star_half</span>
				</div>
				<p><b>R500</b></p>
				
				
			</div>
			<div class="col-md-2 product pt-md-5 pt-4">
				<div class="options3">
				<a href="PayingTracksuits.html"><img src="image0.jpeg" class="img0"></a>
				</div>
				<span class="border site-btn btn-span">TrackSuits</span>
				<div>
				<span class="material-icons">star</span>
				<span class="material-icons">star</span>
				<span class="material-icons">star</span>
				<span class="material-icons">star</span>
				<span class="material-icons">star_half</span>
				</div>
				<p><b>R850</b></p>
				
			</div>
			<div class="col-md-2 product pt-md-5 pt-4">
				<div class="options">
				<a href="PayingCaps.html"><img src="image7.jpeg" class="img7"></a>
				</div>
				<span class="border site-btn btn-span">Caps</span>
				<div>
				<span class="material-icons">star</span>
				<span class="material-icons">star</span>
				<span class="material-icons">star</span>
				<span class="material-icons">star</span>
				<span class="material-icons">star</span>
				</div>
				<p><b>R150</b></p>
				
			</div>
			
			
		</div>
	</div>
</div>


<div class="title3" align="center">
		<hr>On Demand</hr>

	</div>

<div class="container-fluid">
	<div class="site-slider-two px-md-4">
		<div class="row">
			<div class="col-md-2 product pt-md-5 pt-4">
				<div class="options2">
				<img src="image8.jpeg" class="img8">
				</div>
				<span class="border site-btn btn-span">Boob Tube</span>
				<div>
				<span class="material-icons">star</span>
				<span class="material-icons">star</span>
				<span class="material-icons">star</span>
				<span class="material-icons">star</span>
				<span class="material-icons">star_half</span>
				</div>
				<p><b>R250</b></p>

			</div>
			<div class="col-md-2 product pt-md-5 pt-4">
				<div class="options">
				<img src="image10.jpeg" class="img10">
				</div>
				<span class="border site-btn btn-span">Golf Shirts</span>
				<div>
				<span class="material-icons">star</span>
				<span class="material-icons">star</span>
				<span class="material-icons">star</span>
				<span class="material-icons">star</span>
				<span class="material-icons">star</span>
				</div>
				<p><b>R450</b></p>
				
			</div>


<!-- Slick Carousel -->
<div class="wrapper">
  <div class="title3" align="center">
		<hr>Take a Look</hr>

	</div>
      <div class="carousel">
        <div class="options"><a href="PayingShirts.html"><img src="image11.jpeg" class="img11"></a></div>
        <div class="options"><a href="PayingHoodies.html"><img src="image12.jpeg" class="img12"></a></div>
        
        <div class="options"><a href="PayingCaps.html"><img src="image7.jpeg" class="img7"></a></div>
        
        <div class="options"><img src="image10.jpeg" class="img10"></div>

      </div>
</div>


<div id='app'></div>



</div>
<div class="title3" align="center">
		<hr>Limited Offers</hr>

	</div>
 <!--Offers-->
 <div class="offer">
 	<div class="small-container">
 		<div class="row">
 			<div class="col-2">
 				<img src="image11.jpeg" class="offer-img">
 				<a href="" class="btn2"> Buy Now &#8594;</a>
 			</div>
 			<div class="col-2">
 				<small>Check Out Our Specials Before Time is Up</small>
 				
 				<h1>Customized The Simpsons x KayKreation Shirt</h1>
 				<small></small>
 			</div>
 			<div id="the-final-countdown">
  			<p></p>
			</div>
			<div class ="shoplist" align="center">
				<a href="ShoppingList.html" class="btn2"><h3>Your shopping list</h3></a><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg>
			</div>
 		</div>
 	</div>
 </div>

<!-- Customer Reviews -->
<div class="testimonial">
	<div class="small-container">
		<div class="row">
			<div class="col-3">
				<span class="fa fa-quote-left"></span>
				<p>Never had a problem with their products</p>
				<div>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star-o"></span>
				</div>
				<img src="pic14.jpg">
				<h4>Amogelang Motupa</h4>

				</div>
				<div class="col-3">
				<span class="fa fa-quote-left"></span>
				<p>Always satisfied with their clothes.</p>
				<div>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				</div>
				<img src="pic15.jpg">
				<h4>Tshepiso Legwala</h4>

				</div>
				<div class="col-3">
				<span class="fa fa-quote-left"></span>
				<p>Never had issues KayKreations that's why I always keep coming back</p>
				<div>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				</div>
				<img src="pic16.jpg">
				<h4>Aobakwe Mariri</h4>

				</div>
		</div>
	</div>
</div>





<div class="footer">
	<div class="container">
		<div class="row">
			

				<div class="footer-col-2">
					<p align="center"><img src="image13.jpeg"></p>
				<h4 align="center">Our goal is to grow our business together with you, our customer.</h4>
				</div>

				<div class="footer-col-3">
				<h4>Useful Links</h4>
				
				<ul>
					<li>Coupons</li>
					<li>Specials</li>
					<li>Return Policy</li>
					<li>Problems Trying To Order</li>
				</ul>
				
				</div>
				<div class="footer-col-4">
				<h4>Follow Us</h4>
				<ul>
					<li>Facebook</li>
					<li>Instagram</li>
					<li>WhatsApp</li>
					<li>Twitter</li>
				</ul>
				</div>
		</div>
		<hr>
		<p class="copyright">Copyright 2022 - KayKreations</p>
	</div>
</div>





<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>